@charset "utf-8";
/*CSS Document*/

* {
    margin: 0;
    padding: 0;
    font-size: 12px;
}

body {
    background-color: #F5F5F5;;
}

.top {
    width: 100%;
    height: 27px;
    background: url(../images/top_bg.jpg) repeat-x;
}

.top_content {
    width: 1000px;
    margin: 0 auto;
}

.top_content li {
    list-style-image: url("../images/li_bg.gif");
    float: right;
    width: 70px;
    line-height: 27px; /*与top高度一致以使其垂直居中*/
}
/*对链接和点击之后的状态设置样式*/
.top_content a:link, .top_content a:visited {
    color: #8E8E8E;
    text-decoration: none;/*无下划线等*/
}
/*鼠标旋停时样式设置*/
.top_content a:hover, .top_content a:active {
    color: red;
    text-decoration: none;
}
/*大盒子格式*/
.wrap {
    width: 1000px;
    margin: 0 auto;
}
/*logo区整体高度*/
.logo {
    height: 90px;
    background-color: white;/*后加，使左右区的底色一致*/
}
.logo_left {
    width: 200px;
    float: left;
}
.logo_right {
    width: 300px;
    float: right;
    height: 28px;/*以下两行使右区上下居中*/
    margin-top: 30px;
    color: #8E8E8E;/*使其与前面的图标颜色一致*/
}
/*右区电话小图标*/
.logo_right img {
    vertical-align: middle;/*使其与文字中间对齐*/
    margin-right: 10px;/*使其与右侧的文字间距10px*/
}
/*电话号码*/
.tel {
    font-family: 华文楷体;
    font-size: 16px;
    color: red;
}
/*导航部分*/
.nav {
    height: 40px;
}
/*导航部分最左侧的空档*/
.nav_left {
    width: 10px;
    background:url(../images/nav_left.jpg) no-repeat;/*与以下两句等效*/
    /*
     *background-image:url(../images/nav_left.jpg);
     *background-repeat: no-repeat;
     */
    float: left;
    height: 40px;/*由于本部分无内容，不加的话就不会将nav撑开，即不显示*/
}
/*导航区的中间文字部分*/
.nav_mid {
    width: 980px;
    background: url("../images/nav_bg.jpg") repeat-x;
    float: left;
}
/*导航部分最右侧的空档*/
.nav_right {
    width: 10px;
    background: url("../images/nav_right.jpg") no-repeat;
    float: left;
    height: 40px;/*作用同nav_left部分，即使圆角框显示出来*/
}
/*重复部分可用下面的代码代替*/
/* .nav_left,.nav_mid,.nav_right {
 *    float: left;
 *    height: 40px;
 * }
 */
/*把导航菜单及搜索框放到同一行中，注意像素宽度的计算*/
.nav_mid_left, .nav_mid_right {
    float: left;
}
.nav_mid_left {
    width: 680px;
}
.nav_mid_right {
    width: 300px;
}
/*把导航列表项放到同一行中*/
.nav_mid_left li {
    float: left;
    list-style-type: none;/*清除列表前的小圆点*/
    width: 100px;
    text-align: center;/*水平居中*/
    /*在垂直居中之前下方会出出现白色区块，将背景图片挖掉，垂直居中后就恢复正常了，不知为何！！*/
    line-height: 40px;/*垂直居中，高度设置与盒子高度相同，这种方法记住*/
}
/*设置链接初始状态（link）与访问后（visited）的状态*/
.nav_mid_left a:link, .nav_mid_left a:visited {
    text-decoration: none;/*去掉下划线*/
    color: white;/*文字为白色*/
    font-size: 16px;/*文字变大为16px*/
    font-family: 华文楷体;/*字体*/
}
/*设置链接鼠标经过状态（hover）与点击（active）的状态*/
.nav_mid_left a:hover, .nav_mid_left a:active {
    text-decoration: none;/*去掉下划线*/
    color: yellow;/*文字为黄色*/
    font-size: 20px;/*文字变大为20px，这样比较有趣*/
    font-family: 华文楷体;/*字体*/
}
/*搜索框*/
.search_text {
    width: 190px;
    height: 25px;
    margin-top: 5px;
    /*放大镜背景，水平靠右，垂直居中*/
    background: url("../images/search.jpg") no-repeat right center;
    background-color: white;/*与放大镜的颜色统一*/
    padding-right: 25px;/*右填充，是文字不被背景图遮挡*/
    border: 1px solid white;/*边框线为1px宽白色实线*/
}
/*焦点图*/
.pic li {
    height: 310px;
}
.ad {
    height: 310px;/*根据图像的高度设置*/
    /*overflow: hidden;!*溢出div即隐藏*!*/
    /*加overflow就会出现只显示左侧一小部分的情况*/
}
/*信息展示区*/
.main {
    height: 250px;
    background-color: white;
    margin-top: 5px;
}
.news {
    width: 340px;
    border: 1px solid grey;
    background-color: darkcyan;
}
.course {
    width: 410px;
    border: 1px solid grey;
    background-color: yellowgreen;
    margin: 0 7px;/*上下为0,左右为7*/
}
.sidebar {
    width: 230px;
    background-color: cornflowerblue;
}
.news,.course,.sidebar {
    height: 250px;
    float: left;
    font-size: large;
    font-family: 华文楷体;
}